@import './variables';

html, body {
  height: 100%;

  margin: 0;

  background: $background-primary;

  font-family: font(primary), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.default-layout {
  color: $font-color;
  text-align: center;
}


